<form asp-action="Search" asp-controller="Product" method="get">
    <div class="input-group">
        <input type="search" name="searchQuery" class="form-control" placeholder="Search for products...">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>
