@{
    ViewData["Title"] = "Background";
}
<!-- JavaScript code to get the width of the navigation bar -->
<script type="text/javascript">
    // Get the width of the navigation bar
    var navBarWidth = document.getElementById("NavigationMenu").offsetWidth;
    }
</script>
<style type="text/css">
    .col-md-6 {
        max-width: 45vw;
        padding-top: 20px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    About Shipbase
                </div>
                <div class="card-body">
                    <p>Welcome to ShipBase, the online destination for all your computer peripheral needs. At ShipBase, we are committed to providing you with high-quality products, competitive prices, and exceptional customer service. Our team of experts is constantly working to bring you the latest and greatest in computer peripherals, from keyboards and mice to gaming headsets and keycaps. We understand that your computer setup is an extension of your personality and style, and we aim to offer a wide range of products that cater to all tastes and preferences. With our fast and reliable shipping options, you can have your favorite peripherals delivered right to your doorstep in no time. Thank you for choosing ShipBase, and we look forward to helping you enhance your computing experience!</p>
           
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Our Mission
                </div>
                <div class="card-body">
                    <p>At ShipBase, our mission is to provide our customers with the best online shopping experience for computer peripherals. We strive to offer a wide selection of high-quality products at competitive prices and deliver them quickly and reliably. We also aim to provide exceptional customer service and stay involved with our communities to ensure our customers are satisfied with their purchases. Our goal is to become the go-to destination for anyone looking to buy computer peripherals online.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Our Vision
                </div>
                <div class="card-body">
                    <p>"Our vision at ShipBase is to be the leading provider of high-quality computer peripherals and accessories in the online marketplace. We strive to offer our customers a seamless shopping experience, from finding the right product to fast and reliable delivery. Our goal is to create a trusted brand that customers can rely on for all their computing needs. We are committed to staying at the forefront of technological advancements and bringing our customers the latest and greatest products on the market. We envision a future where ShipBase is synonymous with quality and excellence in the online computer peripheral market."</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Our Values
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li>Integrity</li>
                        <li>Respect</li>
                        <li>Teamwork</li>
                        <li>Innovation</li>
                        <li>Quality</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>