@{
    ViewData["Title"] = "FAQ";
}
<div class="col=md=12 text-center">
<h2 >Frequently Asked Questions</h2>
</div>
<ol>
    <li><a href="#q1">What is ShipBase?</a></li>
    <li><a href="#q2">What products do we offer?</a></li>
    <li><a href="#q3">How do I place an order?</a></li>
    <li><a href="#q4">What are the payment options?</a></li>
    <li><a href="#q5">How long will it take to receive my order?</a></li>
    <li><a href="#q6">What is your return policy?</a></li>
    <li><a href="#q7">How can I register an account?</a></li>
    <li><a href="#q8">Do you offer free shipping</a></li>
    <li><a href="#q9">How often do you add new products to the website</a></li>
    <li><a href="#q10">How can I contact customer service?</a></li>
</ol>

<h3 id="q1">What is ShipBase?</h3>
<p>ShipBase is a dedicated supplier of quality computer peripherals.</p>

<h3 id="q2">What products do we offer?</h3>
<p>We offer a selection of Computer peripherals including keyboards, keycaps, audio equipment, and more</p>

<h3 id="q3">How do I place an order?</h3>
<p>To place an order, simply browse our products and add them to your cart. Then, proceed to checkout and enter your shipping and payment information.</p>

<h3 id="q4">What are the payment options?</h3>
<p>We accept credit or debit cards.</p>

<h3 id="q5">How long will it take to receive my order?</h3>
<p>Shipping times vary depending on your location and the immediate availability of the product</p>

<h3 id="q6">What is your return policy?</h3>
<p>We offer a 30-day return policy for most products</p>

<h3 id="q7">How can I register an account?</h3>
<p>To register an account, simply click on the "Create Account" link in the NavBar of our website and follow the prompts.</p>

<h3 id="q8">Do you offer free shipping?</h3>
<p>We Offer free shipping on orders that are $50 or more</p>

<h3 id="q9">How often do you add new products to the website</h3>
<p>We try to stay on top of new releases as much as possible to ensure that our customers have access to all of the equipment on the market</p>

<h3 id="q10">How can I contact customer service?</h3>
<p>You can contact our customer service team by phone, or email, or live chat. Please see our "Contact Us" Page for more information.</p>



