@{
    ViewData["Title"] = "Our Team";
}
<div class="container">
    <div class="row">
        <div class="col=md=12 text-center">
            <h2>Our Team</h2>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <div class="team-member">
            <img src="/images/benaiahEugene.png" class="img-responsive" alt="Team Member" style="width: 200px; height: auto;">
            <h4>Benaiah Eugene</h4>
            <p>Hi</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="team-member">
            <img src="/images/darinRoberts.png" class="img-responsive" alt="Team Member" style="width: 200px; height: auto;">
            <h4>Darin Roberts</h4>
            <p>Hi</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="team-member">
            <img src="/images/haydenONeill.png" class="img-responsive" alt="Team Member" style="width: 200px; height: auto;">
            <h4>Hayden O'Neill</h4>
            <p>Hi</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="team-member">
            <img src="/images/connorSunman.png" class="img-responsive" alt="Team Member" style="width: 200px; height: auto;">
            <h4>Connor Sunman</h4>
            <p>Hi</p>
        </div>
    </div>
</div>
