@{
    ViewData["Title"] = "FAQ";
}

<h2>Terms of Service</h2>
<p>By using our website, you agree to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern our relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>

<h3>Content</h3>
<p>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</p>
<p>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness, or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</p>

<h3>Links to Other Websites</h3>
<p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information that you provide while visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>

<h3>Privacy Policy</h3>
<p>Our privacy policy, which sets out how we use your information, can be found on our website. By using our website, you consent to the collection and use of this information as described in the privacy policy.</p>

<h3>Indemnification</h3>
<p>You agree to indemnify, defend, and hold harmless our company, its affiliates, officers, directors, employees, consultants, and agents from any and all claims, liability, damages, and/or costs (including, but not limited to, attorneys' fees) arising from your use of our website or your breach of these terms of service.</p>

<h3>Modifications</h3>
<p>We may revise these terms of service at any time without notice. By using this website, you are agreeing to be bound by the then-current version of these terms of service.</p>

<h3>Contact Us</h3>
<p>If you have any questions about these terms of service, please contact us at support@ourwebsite.com.</p>
